/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: 'Segoe UI', Inter, Arial, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #a18cd1);
  color: #fff;
  line-height: 1.6;
  min-height: 100vh;
}

/* HEADER */
header {
  display: flex;
  justi
